# Zig build artifacts
.zig-cache/
zig-out/
build/
build-*/
docgen_tmp/

# Downloaded UCD files
src/tools/gen-tables/downloaded

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Misc / OS
.DS_Store
.AppleDouble
.LSOverride
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
$RECYCLE.BIN/
STUDY.md
